.bg-cover {
    width: 100%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.1);
}

.bg {
    background-image: url("/background-purple.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

.img-title {
    display: flex;
    float: right;
    flex-wrap: wrap;
    width: 50%;
    height: 85%;
    justify-content: flex-end;
    align-items: center;
}

.header {
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    overflow: hidden;
}

.header-l {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    flex-grow: 1;
}

.header-r {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}

.icon {
    float: left;
    width: 10%;
    padding: 10px;
    padding-right: 3%;
    padding-left: 2%;
}

.title {
    color: white;
    margin: 0;
    float: left;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.title-register {
    color: white;
    margin: 0;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding-top: 7%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.title:hover {
    color: #888;
}

.nav {
    width: auto;
    height: 100%;
    float: right;
}

.nav-item {
    color: white;
    height: 100%;
    padding: 0 3vh;
    background: none;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
}

.nav-item:hover {
    background-color: #888
}

.nav-item:active {
    background-color: #0F0;
}

.section-seperator {
    background: #000;
    height: 1vh;
    width: 100%;
    margin-bottom: 3vh;
}

.seperator {
    background: #000;
    height: 0.5vh;
    margin: 2vh 10vw;
}

.form-content {
    display: flex;
    justify-content: center;
}

.form-container-light {
    justify-self: center;
    width: 35vw;
    padding: 0 3vh;
    height: fit-content;
}